
<div class="todos">

  <div class="list">
      <app-todo-item
      (idRemove)="onRemove($event)"
      *ngFor="let todo of Todos" [todoItem]="todo"
      (idStatusChange)="onStatusChange($event)"
      (nameChange)="onNameChange($event)"
    ></app-todo-item>
  </div>

  <div class="add-wrap">
    <input
      class="todo-input"
      placeholder="Enter todo name..."
      [(ngModel)]="nameInput"
      (keydown)="hadnleIsEnter($event)"
    />
    <button
      (click)="handleAddTodo($event)"
    >ADD TODO</button>
  </div>
</div>
